@import "../../wd-base/src/main";
@import "../../wd-button/src/WDButton";

/* ==========================================================================
   Button Groups
   ========================================================================== */
.wd-btn-group {
  display: inline-flex;

  .wd-btn-group-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .wd-btn-group-item {
      align-items: center;
      display: inline-flex;
    }
  }

  &.wd-btn-group-segmented {

    .wd-btn-group-list .wd-btn-group-item {

      &.wd-btn-group-firstitem {

        .wd-btn {
          border-radius: $wd-radius-sm 0 0 $wd-radius-sm;
        }

        &.wd-btn-borderRadius-6px {

          .wd-btn {
            border-radius: $wd-radius-md 0 0 $wd-radius-md;
          }
        }

        &.wd-btn-rounded {

          .wd-btn {

            &.wd-btn-xs {
              border-radius: $wd-btn-xs/2 0 0 $wd-btn-xs/2;
            }
            &.wd-btn-sm {
              border-radius: $wd-btn-sm/2 0 0 $wd-btn-sm/2;
            }
            &.wd-btn-md {
              border-radius: $wd-btn-md/2 0 0 $wd-btn-md/2;
            }
            &.wd-btn-lg {
              border-radius: $wd-btn-lg/2 0 0 $wd-btn-lg/2;
            }
            &.wd-btn-xl {
              border-radius: $wd-btn-xl/2 0 0 $wd-btn-xl/2;
            }
            &.wd-btn-xxl {
              border-radius: $wd-btn-xxl/2 0 0 $wd-btn-xxl/2;
            }
          }
        }
      }

      &.wd-btn-group-lastitem {

        .wd-btn {
          border-radius: 0 $wd-radius-sm $wd-radius-sm 0;
        }

        &.wd-btn-borderRadius-6px {

          .wd-btn {
            border-radius: 0 $wd-radius-md $wd-radius-md 0;
          }
        }

        &.wd-btn-rounded {

          .wd-btn {

            &.wd-btn-xs {
              border-radius: 0 $wd-btn-xs/2 $wd-btn-xs/2 0;
            }
            &.wd-btn-sm {
              border-radius: 0 $wd-btn-sm/2 $wd-btn-sm/2 0;
            }
            &.wd-btn-md {
              border-radius: 0 $wd-btn-md/2 $wd-btn-md/2 0;
            }
            &.wd-btn-lg {
              border-radius: 0 $wd-btn-lg/2 $wd-btn-lg/2 0;
            }
            &.wd-btn-xl {
              border-radius: 0 $wd-btn-xl/2 $wd-btn-xl/2 0;
            }
            &.wd-btn-xxl {
              border-radius: 0 $wd-btn-xxl/2 $wd-btn-xxl/2 0;
            }
          }
        }
      }

      &[class^='wd-btn-group-miditem-'] {
        .wd-btn {
          border-radius: 0;
        }
      }
    }
  }
}
