/* ==========================================================================
   Colors
   ========================================================================== */

/* Standard Color Variables
   ========================================================================== */
$wd-color-accent  :  #00ae55 !default;
$wd-color-black   :  #0e141a !default;
$wd-color-blue-lt :  #00a4ff !default;
$wd-color-blue    :  #1f7aff !default;
$wd-color-violet  :  #9552ef !default;
$wd-color-red     :  #ff4040 !default;
$wd-color-orange  :  #ff6e02 !default;
$wd-color-yellow  :  #ffb700 !default;
