/* ==========================================================================
   Border Radius
   ========================================================================== */

/* Standard Radius Value Variables
   ========================================================================== */
$wd-radius-xs  :  3px !default;
$wd-radius-sm  :  4px !default;
$wd-radius-md  :  6px !default;
